{% extends "layout.html" %}

{% block content %}
<div class="containter">
<div class="col-xs-12 text-center">
  <h2> Current status is: <span class="status">{{ status }}</span> </h2>
</div>
{% if status == 201 %}
<div class="col-xs-12">
  <h4> RPi ip: {{ data.ip }} </h4>
  <h4> RPi ssid: {{ data.ssid }} </h4>
  <button id="approve_ip" type="button" class="btn btn-primary">Approve ip change</button>
  <button id="deny_ip" type="button" class="btn btn-primary">Deny ip change</button>
</div>
{% endif %}
</div>

{% endblock %}
